/* ********* Login Page **************** */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 160px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #b4d2ba;
  }
  
  .login-container h1 {
    margin-bottom: 30px;
    margin-top: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 40px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #333;
  }
  
  .form-group input {
    width: 90%;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-button {
    padding: 10px 15px;
    background-color: #b57f50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #90633C;
  }

  .error-message {
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-top: 10px;
}


/* ************Gradient Background **************/
body {
    background: linear-gradient(206deg, #b78152, #363d29);
    background-size: 400% 400%;
    animation: Gradient 8s ease infinite;
}

@keyframes Gradient {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
  